---
import HamburgerMenu from '../components/HamburgerMenu.vue';
import SelectLanguage from '../components/SelectLanguage.vue';


---

<nav class="fixed w-full p-5 flex items-center justify-between bg-white dark:bg-gray-900 shadow-md z-50 transition-colors duration-300 animate-in fade-in slide-in-from-top">
  <a href="/" class="text-orange-600 dark:text-orange-400 font-bold text-3xl">ViaConecta</a>

  <div class="block md:hidden">
    <HamburgerMenu client:load />
  </div>

  <ul class="hidden md:flex md:items-center gap-3 text-blue-800 dark:text-gray-100 font-medium my-2">
    
    <li><a href="/" class="hover:text-orange-600 dark:hover:text-orange-400 transition-colors duration-200">Inicio</a></li>
    <li><a href="/noticias" class="hover:text-orange-600 dark:hover:text-orange-400 transition-colors duration-200">Noticias</a></li>
    <li><a href="/tarifas" class="hover:text-orange-600 dark:hover:text-orange-400 transition-colors duration-200">Tarifas</a></li>
    <li><a href="/socios" class="hover:text-orange-600 dark:hover:text-orange-400 transition-colors duration-200">Socios</a></li>
    <li><a href="/sobre-nosotros" class="hover:text-orange-600 dark:hover:text-orange-400 transition-colors duration-200">Sobre Nosotros</a></li>
    <li><a href="/politica-privacidad" class="hover:text-orange-600 dark:hover:text-orange-400 transition-colors duration-200">Política de Privacidad</a></li>
    <button
  id="toggle-theme"
  aria-label="Cambiar tema"
  class="ml-4 px-2 py-1 border rounded-full text-sm hover:bg-gray-100 dark:hover:bg-gray-800 transition"> 🌙
</button>
    <SelectLanguage client:load />
  </ul>
</nav>



